// // Base Colors
$textColor: #4a4a4a;
// $black: #010000;
// $dark_blue: #003c76;
// $white: hsl(0, 0%, 100%);
// $orange: #f5a637;
// $red: #bc3030;
// $lightGrey: #ccc;
// $darkGrey: #aaa;

// // admin colors
// $lightSlateGray: rgb(187, 187, 187);
$darkSlateGray: #272F37;
// $sandyBrown: #EDB33D;
// $whiteSmoke: rgb(129, 129, 129);
// $mediumSeaGreen: #43BE7D;
// $Violet: #EFA5C3;

$header-color: rgb(21, 114, 191);

// // Theme
// $main-bg-color: $header-color;

// //

$button-bg-color: #ccc !default;
$button-text-color: #000 !default;

$button-bg-color-hover: #333 !default;
$button-text-color-hover: #fff !default;

$button-border-radius: 6px;

$max-content-width: 750px;
$headerColor: $darkSlateGray;
$footerHeight: 50px;
$footerColor: $darkSlateGray;
$button-color-hover: green;
$v-padding: 1rem;
$h-padding: 1.5rem;

// // link colors
$link-color: rgb(50, 50, 150);
$link-color-hover: rgb(28, 92, 230);
$link-color-visited: purple;

// $menu-color: $darkSlateGray;
// $menu-color-hover: #fff;
// $menu-color-active: $darkSlateGray;

// $menu-bg-color: $darkGrey;
// $menu-bg-color-hover: $darkGrey;
// $menu-bg-color-active: #fff;