@import '~assets/scss/main';

button {
  display: block;
  margin: 0;
  // white-space: nowrap;
  height: 40px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  // appearance: none;
  padding: 0 3rem;
  border-radius: $button-border-radius;
  box-sizing: border-box;
  background-color: $button-bg-color;
  color: $button-text-color;
  border: 1px solid #555;
  transition:
    background-color 250ms ease-out,
    color 250ms ease-out;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover, &:active {
    background-color: $button-bg-color-hover;
    color: $button-text-color-hover;
  }

  &:focus {
    outline: none
  }

  &:disabled {
    color: $button-text-color;
    opacity: 0.2;
    cursor: default;

    &:hover {
      background-color: $button-bg-color;
      color: $button-text-color;
    }
  }

  @media screen and (max-width: 640px) {

  }
}
