@import '~scss/main';

footer {
  height: $footerHeight;
  margin: 6rem 0 0;
  background: $footerColor;
  color: #fff;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 $h-padding;

    a, a:link, a:visited {
      color: #fff;
    }

    > * {
      display: inline-block;
      line-height: $footerHeight;
    }

    .footer-left, .footer-right {
      flex: 0 1 auto;
    }

    .footer-center {
      flex: 1 0 auto;
      text-align: center;

      ul, ul li {
        margin: 0;
        padding: 0;
      }

      ul {
        // display: flex;
        // flex-flow: row nowrap;
        width: 100%;

        li {
          display: inline-block;
          // flex: 1 0 auto;
          list-style-type: none;

          a {
            display: block;
            padding: 0 1rem;
            height: 100%;
            font-size: 2rem;
            line-height: $footerHeight;
          }

          // &:last-child {
          //   margin-right: 0;
          // }
        }
      }
    }
  }
}
